body{
    background-image:url("../images/nba.jpg")
}

#quiz{
    margin:auto;
    width:60%;
}

.question{
    margin-bottom:20px;
    margin-top:100px;
}

#timerResults{
    margin-left:20px;
    color:blue;
    margin-top:20px;
    font-size:20px;
}

#results{
    margin-left:20px;
    color:blue;
    margin-top:20px;
    font-size:20px;
}

#de{
    color:blue;
    font-size:20px;
    margin-left:20px;
    margin-top:20px;
}